/* style.css */
#markers-container .marker {
  background-color: #ff5733; /* Fond orange vif */
  border: 1px solid #AAA;  /* Bordure noire */
  border-radius: 50%;       /* Cercle parfait */
  box-shadow: 0 0 10px #ff5733, 0 4px 6px rgba(0, 0, 0, 0.7); /* Lueur et ombre */  
}

#markers-container {
  pointer-events: none; /* Pour capter les clics dans l'image */
  position: absolute;
  top: 5px;  /* Déplace la div vers le bas */
  /* top: -5px; */ /* Déplace la div vers le haut */
}